.search {
    min-width: 24rem;
}

.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
}

.table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}

.table tbody{
    border-radius: 25px;
}

.table tr{
    text-align: left;
    height: 2.5rem;
}


.table td:first-child,th:first-child{
    text-align: center;
}
